
#pizza-image-link {
  position: relative;
  display: block;
}
#pizza-image-link .pizza-render {
  display: block;
  width: 225px;
  height: 225px;
  margin: 10px auto;
}
#pizza-image-link .toppings-render {
  display: block;
  width: 225px;
  height: 225px;
  margin: 10px auto;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#pizza-image-link .toppings-render.active {
  opacity: 1;
}

.checkbox_group {
  display:inline;
  float:left;
}
.checkbox_group ul {
  list-style: none;
}
.checkbox_group label {
  margin-left: 30px;
  font-weight: bold;
}
#checkboxes div {
  float:left;
}
#checkboxes label {
  /*float: left;*/
}
#checkboxes ul {
  margin: 0;
  list-style: none;
  float: left;
}
.checkbox_container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;  
}
.submit_container {
  clear: both;
  width: 50px;
  margin-left: auto;
  margin-right: auto;  
}